```css
#loading-page .loading {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #000;
  animation: loading-animation 2s infinite;
}

#loading-page.hide-loading {
  animation: none;
}

@keyframes loading-animation {
  0% {
    transform: scale(0.5);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.5);
  }
}
```